<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbidly - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        /* Custom CSS can be added here */
        .card {
            height: 100%;
        }
        .card-img-top {
            object-fit: cover;
            height: 200px; /* Set height as desired */
        }
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Turbidly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/category/Conspiracy%20Theories">Conspiracy Theories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/Philosophical%20Debates">Philosophical Debates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/Geopolitics">Geopolitics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contribute">Contribute</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
    <!-- Latest News Articles -->
    <div id="latest-news" class="row">
        <!-- Article Cards will be dynamically added here -->
        <% articles.forEach(function(article) { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= article.image %>" class="card-img-top" alt="Article Image">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.headline %></h5>
                        <p class="card-text"><%= article.mainArticle.substring(0, 50) %>...</p>
                        <a href="/article/<%= article._id %>" class="btn btn-primary read-more-link">Read More</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
